.topHeader {
  background-image: url("../../pexels-anni-roenkae-3625632.jpg");
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
