.workRow {
  margin: 100px auto;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.colContainer {
  display: flex;
  justify-content: center;
}
.card {
  border: none;
}
.work-title {
  font-weight: 600;
}
