.aboutRow {
  margin: 100px auto;
}
.pic {
  height: 230px;
  border-radius: 50%;
  margin-left: 30px;
}
.selfie {
  width: 230px;
  object-fit: cover;
}
.greet {
  text-align: center;
  align-self: center;
}
.sub {
  font-style: italic;
}
